body,
table,
tr,
td {
    font-family: Sans-Serif, 'Arial Narrow', 'Franklin Gothic Medium', Arial;
}
td { padding-bottom: 12px; }
.content { margin: 8px; }
small { color:gray;line-height: 1.8; }
a { color:#cc5e05; text-decoration: none; }
a:hover { color: #dd7622; }
.help {
    border-top: 1px solid dimgray;
    font-size: 12px;
}
.help h1 {
    font-size: 16px;
    font-weight: bold;
}
.help h2 {
    font-size: 13px;
    font-weight: bold;
    color: dimgray
}
